.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  /* width: 3rem; */
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
.ho,#title{
  height: 100%;
}

.prince{
  background-color: white;
  color: black;
  border-style: none;
}
.hi{
  margin: 0;
  /* height: 521px; */
  height: 100%;
  width: 350px;
  padding: 0;
  padding-top:5px ;
}
.testi{
  text-align: center  ;
}
.imgg{
  display: flex;
  justify-content: center;
}
#imggg{
  border-radius: 50%;
  margin-top: 3rem;
margin-bottom: 1rem;
  height: 100px;
}
.cho{
  height: 30px;
}
#gg{
  margin-top: 1px;
}
#testimonial{
background-color: #eee7e7;
}
/* .border-primary {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-dark-rgb),var(--bs-border-opacity))!important;
} 

.btn-primary:hover{
background-color: black;
}
.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: #ffffff;
}
.gig{
    border-color: black;
    
}
.btn-outline-dark:hover{
background-color: black;
color: white;
} */
.row{
  display: flex;
  justify-content: center;
  align-items: center;
}